In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('gapminder_full.csv')

In [3]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
#Fetch the columns

df['year']

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [6]:
df['population']

0        8425333
1        9240934
2       10267083
3       11537966
4       13079460
          ...
1699     9216418
1700    10704340
1701    11404948
1702    11926563
1703    12311143
Name: population, Length: 1704, dtype: int64

In [7]:
df['continent']

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

In [8]:
# Fetch the multiple columns

df['continent','year']

KeyError: ('continent', 'year')

In [9]:
#Accesing the multiple columns

df[['year','continent']]

      year continent
0     1952      Asia
1     1957      Asia
2     1962      Asia
3     1967      Asia
4     1972      Asia
...    ...       ...
1699  1987    Africa
1700  1992    Africa
1701  1997    Africa
1702  2002    Africa
1703  2007    Africa

[1704 rows x 2 columns]

In [11]:
Sr = df[['year','population','continent']]

In [12]:
type(Sr) # collection of series is called "DataFrame"

pandas.core.frame.DataFrame

In [13]:
srr = df['year']

In [14]:
type(srr) # One peice of Dataframe is called 'Series'

pandas.core.series.Series

In [16]:
# Properties and methods

df.columns ##to show all the columns/header/features

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [17]:
df.describe() #Numerical data only , by default

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [18]:
df.describe(include='all')  #to add categorical/non-numerical data

,country,year,population,continent,life_exp,gdp_cap
count,1704,1704.00000,1.704000e+03,1704,1704.000000,1704.000000
unique,142,NaN,NaN,5,NaN,NaN
top,Afghanistan,NaN,NaN,Africa,NaN,NaN
freq,12,NaN,NaN,624,NaN,NaN
mean,NaN,1979.50000,2.960121e+07,NaN,59.474439,7215.327081
std,NaN,17.26533,1.061579e+08,NaN,12.917107,9857.454543
min,NaN,1952.00000,6.001100e+04,NaN,23.599000,241.165876
25%,NaN,1965.75000,2.793664e+06,NaN,48.198000,1202.060309
50%,NaN,1979.50000,7.023596e+06,NaN,60.712500,3531.846988
75%,NaN,1993.25000,1.958522e+07,NaN,70.845500,9325.462346
max,NaN,2007.00000,1.318683e+09,NaN,82.603000,113523.132900

In [19]:
df.describe(include='object')

            country continent
count          1704      1704
unique          142         5
top     Afghanistan    Africa
freq             12       624

In [20]:
df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [21]:
len(df['country'].unique()) #142 is unique country.

142

In [22]:
len(df['continent'].unique()) # 5 is unique continent

5

In [23]:
df['country'].value_counts() # value of each country.

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [24]:
df['continent'].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [27]:
df['continent'].value_counts().head(10)

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [29]:
df['country'].value_counts().head() #head by default gives me 'first' 5 rows.

Afghanistan    12
Pakistan       12
New Zealand    12
Nicaragua      12
Niger          12
Name: country, dtype: int64

In [30]:
df['country'].value_counts().tail() #tail by default gives me 'last' 5 rows.

Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, dtype: int64

In [31]:
df['country'].value_counts().head(40)

Afghanistan       12
Pakistan          12
New Zealand       12
Nicaragua         12
Niger             12
Nigeria           12
Norway            12
Oman              12
Panama            12
Nepal             12
Paraguay          12
Peru              12
Philippines       12
Poland            12
Portugal          12
Puerto Rico       12
Netherlands       12
Namibia           12
Romania           12
Mali              12
Lesotho           12
Liberia           12
Libya             12
Madagascar        12
Malawi            12
Malaysia          12
Mauritania        12
Myanmar           12
Mauritius         12
Mexico            12
Mongolia          12
Montenegro        12
Morocco           12
Mozambique        12
Reunion           12
Rwanda            12
Albania           12
United Kingdom    12
Thailand          12
Togo              12
Name: country, dtype: int64

In [32]:
df['country'].value_counts().tail(20)

Jordan               12
Kenya                12
Honduras             12
Haiti                12
Guinea-Bissau        12
Guinea               12
Guatemala            12
Greece               12
Ghana                12
Germany              12
Gambia               12
Gabon                12
France               12
Finland              12
Ethiopia             12
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, dtype: int64